<div class="category-container">
	<div class="articles">

		{% for article in articles %}
			<div class="article-card">
				<p class="article-date">
					{{article.createdAt|date('d/m/Y')}}</p>
				<p class="article-category">Catégorie(s) :
					{% for category in article.category %}
						<a href="{{path('category_show', {name: category.name})}}" class="article-category">|
							{{category.name}}
						</a>
					{% endfor %}
				</p>
				{% if article.tag|length > 0 %}
					<p class="article-tag">Etiquette(s) :
						{% for tag in article.tag %}
							<a href="{{path('tag_show', {name: tag.name})}}" class="tags">|
								{{tag.name}}
							</a>
						{% endfor %}
					</p>
				{% endif %}
				<h2>
					<a href="{{path('article_show', {id:article.id})}}" class="title-title">{{article.title}}</a>
				</h2>

				{% include "_partials/_twitter.html.twig" %}
				{% include "_partials/_facebook.html.twig" %}
				<p class="article-text" style="text-align:justify">{{article.text}}</p>

			</div>
		{% endfor %}

		{% if articles|length < 1 %}
			<h2 style="text-align">Aucun article pour le moment</h2>
		{% endif %}
	</div>
	{% include "_partials/_widgets.html.twig" %}


</div>
