{% for role in app.user.roles %}
	{% if role is same as ("ROLE_ADMIN") %}
		<div class="admin-bar">
			<a href="{{path('admin')}}" class="admin-bar-item">Dashboard</a>
			<a href="{{path('app_logout')}}" class="admin-bar-item">Déconnexion</a>
		</div>

	{% endif %}
{% endfor %}

<nav>
	<div class="items">
		<div class="item">
			<a href="{{path('home')}}">Accueil</a>
		</div>
		<div class="item">
			<a href="">Editorial</a>
		</div>
		{% for c in categoryRepository.findAll() %}
			<div class="item">
				<a href="{{path('category_show', {name : c.name})}}">{{c.name}}</a>
			</div>
		{% endfor %}
		<div class="item">
			<a href="">Calendrier</a>
		</div>
		<div class="item">
			<a href="">Archives</a>
		</div>
		<div class="item">
			<a href="{{path('app_logout')}}">Déconnexion</a>
		</div>
		<div class="dropdown">
			<button class="dropbtn">
				<i class="fas fa-bars"></i>
				| Menu
			</button>
			<div class="dropdown-content">
				<a href="{{path('home')}}">Accueil</a>

				<a href="">Editorial</a>

				{% for c in categoryRepository.findAll() %}
					<a href="{{path('category_show', {name : c.name})}}">{{c.name}}</a>
				{% endfor %}


				<a href="">Calendrier</a>

				<a href="">Archives</a>

				<a href="">Déconnexion</a>


			</div>
		</div>


	</div>


</nav>
