<div class="widgets">
	<div class="index">
		<h4 class="widget-title">Index</h4>
		{% for tag in tagIndex %}
			<a href="{{path('tag_show', {name: tag.name})}}" class="tag-link">{{tag.name}}</a>
		{% endfor %}
	</div>


		{% if searchResult | length > 0 %}
		<div class="search">
			<h4 class="result-title">Article(s) trouvé(s)</h4>
			{% for article in searchResult %}
				<div class="article-card">
					<a href="{{path('article_show', {id: article.id})}}" class="result-title">{{article.title}}
						<span>
							Voir l'article</span>
					</a>
				</div>
			{% endfor %}
		</div>
		{% endif %}

		{% if eventsResult | length > 0 %}
		<div class="search">
			<h4 class="result-title">Evènement(s) trouvé(s)</h4>
			{% for event in eventsResult %}
				<div class="article-card">
					<a href="{{path('calendar_show')}}" class="result-title">{{event.title}}
						<span id="show">
							Accès au calendrier</span>
					</a>
				</div>
				<div >
					<p id="description"></p>
					<p>
						<a href="{{event.url}}"></a>
					</p>
				</div>
			{% endfor %}
		</div>
		{% endif %}

	<div class="search">
		<h4 class="widget-title">Recherche</h4>
		{{ form_start(form) }}

		<div class="form-item">
			{{ form_row(form.words, {'id':'words'}) }}

		</div>
		<div class="form-item">
			{{ form_row(form.category) }}
		</div>
		<div class="form-item">
			{{ form_row(form.tag) }}
		</div>
		<button type="submit" , id="searchButton" formnovalidate>Rechercher</button>

		{{ form_end(form) }}
	</div>
</div>
