<div class="widgets">
	<div class="index">
		<h4>Index</h4>
		{% for tag in tagIndex %}
			<a href="{{path('tag_show', {name: tag.name})}}" class="tag-link">{{tag.name}}</a>
		{% endfor %}
	</div>
	<div class="search">
		{% if searchResult | length > 0 %}
			<h4 class="result-title">Résultat(s) de la recherche</h4>
			{% for article in searchResult %}
				<div class="article-card">
					<a href="{{path('article_show', {id: article.id})}}" class="result-title">{{article.title}}
						<span>
							{{article.createdAt|date('d/m/Y')}}</span>
					</a>
				</div>
			{% endfor %}

		{% endif %}

		<h4>Recherche</h4>
		{{ form_start(form) }}

		<div class="form-item">
			{{ form_row(form.words, {'id':'words'}) }}

		</div>
		<div class="form-item">
			{{ form_row(form.category) }}
		</div>
		<div class="form-item">
			{{ form_row(form.tag) }}
		</div>
		<button type="submit" , id="searchButton" formnovalidate>Envoyer</button>

		{{ form_end(form) }}


	</div>
</div>
