<head>
	<title>Info-Activisme Recherche</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>


	<link rel="stylesheet" href="/CSS/login.css">
</head>
{% block body %}
	{% for rubrique, messages in app.flashes %}
		<div class="alert alert-{{rubrique}}">
			{% for message in messages %}
				<p class="text-center">{{message}}</p>
			{% endfor %}
		</div>
	{% endfor %}
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}



	<form method="post" id="loginForm">

			<h1>Connexion</h1>
			<div class="item">
				<label for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
			</div>


			<div class="item">
				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" required>
			</div>

			<div class="item">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<input type="submit" id="button" value="Connexion">
			</div>

			<div class="item">
				<h6>
					<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
				</h6>
			</div>

	</form>

	<script src="/JS/login.js"></script>
{% endblock %}
