{% extends "base.html.twig" %}

{% block body %}
<div class="title">
	<h1>{{article.title}}</h1>
</div>

<div class="full-article">

	<div class="article-details">
		<h2>{{article.title}}</h2>

		<p class="article-date">Publié le
			{{article.createdAt| date('d/m/Y')}}</p>

		<p class="article-category">Catégorie(s) :
			{% for category in categories %}
				<a href="{{path('category_show', {name: category.name})}}">|
					{{category.name}}</a>
			{% endfor %}
		</p>

		<p class="article-tag">Etiquette(s) :
			{% for tag in tags %}
				<a href="{{path('tag_show', {name: tag.name})}}" class="tags">|
					{{tag.name}}</a>
			{% endfor %}
		</p>
		{% include "_partials/_twitter.html.twig" %}
		{% include "_partials/_facebook.html.twig" %}
		<p class="article-text" style="text-align:justify">{{article.text}}</p>
	</div>

	{% include "_partials/_widgets.html.twig" %}


</div>
{% block javascripts %}
{{ parent() }}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
	{% endblock %}
														
														{% endblock %}
