{% extends "base.html.twig" %}

{% block body %}
	<div class="title">
		<h1>Evènements</h1>
	</div>

	<div class="events-container">
		<div class="events">
			{% for event in events %}
				<div class="event">

					<div class="title">
						<h2>{{event.title}}</h2>
					</div>

					<p>{{event.beginAt|date('d/m/Y')}}
						<span>{{event.beginAt|date('H:i')}}</span>
						-
						{{event.endAt|date('d/m/Y')}}
						<span>{{event.endAt|date('H:i')}}</span>
					</p>

					<p class="{{event.id}} modal" data-id="{{event.id}}">-Détails-
					</p>

					<div class="details" id="{{event.id}}">
						<p class="description">{{event.description}}</p>

						{% if event.facebookEvent %}
							<p class="link">
								<a href="{{event.facebookEvent}}">Lien de l'évènement</a>
							</p>
						{% endif %}

						{% if event.category| length > 0 %}
							<p class="cat-tag">
								Catégorie(s) :
								{% for category in event.category %}
									|
									<a href="{{path('category_show', {name:category.name})}}">{{category.name}}</a>
								{% endfor %}
							</p>
						{% endif %}

						{% if event.tag| length > 0 %}
							<p class="cat-tag">
								Etiquette(s) :
								{% for tag in event.tag %}
									|
									<a href="{{path('tag_show', {name:tag.name})}}">{{tag.name}}</a>
								{% endfor %}
							</p>
						{% endif %}

						<p class="hide-{{event.id}} hide">-Réduire-</p>

					</div>
				</div>
			{% endfor %}
		</div>

		{% include "_partials/_widgets.html.twig" %}
	</div>
{% endblock %}
