{% extends "base.html.twig" %}

{% block title %}
	{{category.name}}
{% endblock %}

{% block body %}
<div class="title">
	<h1>{{category.name}}</h1>
</div>

<div class="category-container">
	<div class="articles">
		{% for article in articles %}
			<div class="article-card">
				<p class="article-date">
					{{article.createdAt|date('d/m/Y')}}</p>
				<p>Catégorie(s) :
					{% for category in article.category %}
						<a href="{{path('category_show', {name: category.name})}}" class="article-category">|
							{{category.name}}
						</a>
					{% endfor %}
				</p>
				{% if article.tag|length > 0 %}
					<p class="article-tag">Etiquette(s) :
						{% for tag in article.tag %}
							<a href="#" class="article-category">|
								{{tag.name}}
							</a>
						{% endfor %}
					</p>

				{% endif %}

				<h2>{{article.title}}</h2>
				{% if article.twitter|length > 0 %}
					<blockquote class="twitter-tweet">
						<a href="{{article.twitter}}}"></a>
					</blockquote>
				{% endif %}
				<p>{{article.text}}</p>


			</div>
		{% endfor %}

	</div>
	<div class="category-tools">
		<div class="tags">
			<h3 class="tools-title">Index</h3>
			{% for tag in tags %}
				<a href="#" class="tags-item">{{tag.name}}</a>
			{% endfor %}
		</div>
		<div class="search"></div>
	</div>

</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
	{% endblock %}
