{# DO THIS: the '!' symbol tells Symfony to extend from the original template #}
{% block stylesheet %}
	<link rel="stylesheet" href="/article_add.css">
{% endblock %}
{% block body %}
	<div class="wrapper">
		<header class="main-header">
			<nav class="navbar" role="navigation">
				<button id="navigation-toggler" type="button" aria-label="Toggle navigation">
					<i class="fa fa-fw fa-bars"></i>
				</button>
			</nav>
		</header>
		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
					<li>
						<a href="{{path('home')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<img src="{{asset('/images/logotest.png')}}" style=" width:100%; margin-top : 5px;; margin:auto; filter:brightness(30%); margin-bottom:10px">
						</a>
					</li>
					<li>
						<a href="{{path('admin')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fa fa-home"></i>
							<span>Dashboard</span>
						</a>
					</li>
					<li>
						<a href="{{path('article_add')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw far fa-newspaper"></i>
							<span>Nouvel Article</span>
						</a>
					</li>
					<li>
						<a href="{{path('article_all')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fas fa-newspaper"></i>
							<span>Tous</span>
						</a>
					</li>
					<li>
						<a href="https://127.0.0.1:8000/admin?crudAction=index&amp;crudControllerFqcn=App%5CController%5CAdmin%5CCategoryCrudController&amp;menuIndex=3&amp;submenuIndex=-1" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fas fa-list"></i>
							<span>Catégories</span>
						</a>
					</li>
					<li>
						<a href="https://127.0.0.1:8000/admin?crudAction=index&amp;crudControllerFqcn=App%5CController%5CAdmin%5CTagCrudController&amp;menuIndex=4&amp;submenuIndex=-1" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fas fa-tags"></i>
							<span>Etiquettes</span>
						</a>
					</li>
					<li>
						<a href="{{path('home')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fas fa-home"></i>
							<span>Site</span>
						</a>
					</li>
				</ul>
			</section>
		</aside>
		<div class="content-wrapper">
			<div id="sidebar-resizer-handler" class="resizer-handler resizer-handler-left"></div>
			<div class="content">
				<section class="content-header">
					<div class="d-flex flex-row justify-content-between align-content-center w-100">
						<div class="content-header-title">
							<h1 class="title">
								INFOACTIVISME-RECHERCHE
							</h1>
						</div>

						<div class="page-actions"></div>
					</div>
				</section>

				<section id="main">
					<div class="content-panel">
						<div class="content-panel-body without-header without-footer">
							<table style="width : 100%">
								<thead>
									<tr style="text-align:center;">
										<th>Date</th>
										<th>Titre</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for article in articles %}
										<tr>
											<td>{{article.createdAt|date('d/m/Y')}}</td>
											<td>{{article.title}}</td>
											<td>
												<button style="background:#fff;border:1px solid lightgrey; border-radius:5px; margin: 0 5px; width:100%; margin-top : 5px;">Voir</button>
												<button style="background:#fff;border:1px solid red; border-radius:5px; margin: 0 5px; width:100%; margin-top : 5px;">Supprimer</button>
												<button style="background:#fff;border:1px solid lightblue;border-radius:5px; margin: 0 5px; width:100%; margin-top : 5px;">Editer</button>

											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
