<head>
	<title>Info-Activisme Recherche</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>


	<link rel="stylesheet" href="/CSS/csv.css">
</head>


<div class="all">

	{{ form_start(form) }}
	<div class="item">
		{{form_label(form.pdfFileName)}}
		{{ form_widget(form.pdfFileName) }}
	</div>

<div class="item">
	{{form_label(form.title)}}
	{{ form_widget(form.title) }}
</div>


<div class="item">
	{{form_label(form.year)}}
	{{ form_widget(form.year) }}
</div>



	<input type="submit" id="button" value="Importer">
	<div class="item">
	<a href="{{path('admin')}}">Dashboard</a>
	</div>
	{{ form_end(form) }}

</div>

