{# DO THIS: the '!' symbol tells Symfony to extend from the original template #}
{% extends '@!EasyAdmin/layout.html.twig' %}

{% block body %}
	<div class="wrapper">
		<header class="main-header">
			<nav class="navbar" role="navigation">
				<button id="navigation-toggler" type="button" aria-label="Toggle navigation">
					<i class="fa fa-fw fa-bars"></i>
				</button>
			</nav>
		</header>
		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
					<li>
						<a href="{{path('home')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<img src="{{asset('/images/logotest.png')}}" style=" width:100%; margin:auto; filter:brightness(30%); margin-bottom:10px">
						</a>
					</li>
					<li>
						<a href="{{path('admin')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fa fa-home"></i>
							<span>Dashboard</span>
						</a>
					</li>
					<li>
						<a href="{{path('article_add')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw far fa-newspaper"></i>
							<span>Nouvel Article</span>
						</a>
					</li>
					<li>
						<a href="{{path('article_all')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fas fa-newspaper"></i>
							<span>Tous</span>
						</a>
					</li>
					<li>
						<a href="https://127.0.0.1:8000/admin?crudAction=index&amp;crudControllerFqcn=App%5CController%5CAdmin%5CCategoryCrudController&amp;menuIndex=3&amp;submenuIndex=-1" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fas fa-list"></i>
							<span>Catégories</span>
						</a>
					</li>
					<li>
						<a href="https://127.0.0.1:8000/admin?crudAction=index&amp;crudControllerFqcn=App%5CController%5CAdmin%5CTagCrudController&amp;menuIndex=4&amp;submenuIndex=-1" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fas fa-tags"></i>
							<span>Etiquettes</span>
						</a>
					</li>
					<li>
						<a href="{{path('home')}}" target="_self" rel="referrerpolicy=" origin-when-cross-origin"">
							<i class="menu-icon fa-fw fas fa-home"></i>
							<span>Site</span>
						</a>
					</li>
				</ul>
			</section>
		</aside>
		<div>
			<img src="{{asset('/images/logotest.png')}}" style=" width:50%; margin:auto; filter:brightness(30%)">
		</div>
	</div>


{% endblock %}
