{% extends "base.html.twig" %}

{% block body %}
	<div class="title">
		<h1>Modifier mes informations</h1>
	</div>

	<div class="form form-light">
		{{ form_start(form) }}
		<div class="form-item">
            {{form_label(form.currentPassword)}}
            {{form_widget(form.currentPassword)}}
		</div>

        <div class="form-item">
            {{form_label(form.newPassword)}}
            {{form_widget(form.newPassword)}}
        </div>


		<button type="submit">Modifier</button>
		
    {{ form_end(form) }}
	</div>

{% endblock %}
