{% extends "base.html.twig" %}

{% block body %}
    <div class="title">
        <h1>Mon Profil</h1>
    </div>
    <p></p>
	<div class="form">
		<table>
            <thead>
                <tr>
                    <th>NOM</th>
                    <th>PRENOM</th>
                    <th>EMAIL</th>
                    <th>UTILISATEUR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{app.user.lastName}}</td>
                    <td>{{app.user.firstName}}</td>
                    <td>{{app.user.email}}</td>
                    <td>{{app.user.pseudo}}</td>
                </tr>
            </tbody>
        </table>
        <div class="user-actions">
            <a class="user-action" href="{{path('user_edit_pw')}}">Modifier mon mot de passe</a>
        </div>

	</div>

{% endblock %}
