{% extends "base.html.twig" %}

{% block body %}
{% for type,messages in app.flashes %}
    {% for message in messages %}
<div class="alert-success">{{message}}</div>

    {% endfor %}
{% endfor %}
<div class="title">
	<h1>Modifier mes informations</h1>
</div>

<div class="form">
{{ form_start(form) }}
<div class="form-item">
    {{form_label(form.email)}}
	{{ form_widget(form.email) }}
</div>

<div class="form-item">
	{{form_label(form.firstName)}}
	{{ form_widget(form.firstName) }}
</div>


<div class="form-item">
	{{form_label(form.lastName)}}
	{{ form_widget(form.lastName) }}
</div>


<div class="form-item">
	{{form_label(form.pseudo)}}
	{{ form_widget(form.pseudo) }}
</div>




<button type="submit">Modifier</button>
{{ form_end(form) }}

</div>

{% endblock %}